# Data Science Tools And Ecosystems

In this notebook, Data science tools and ecosystems are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. JavaScript
4. C/C++

Some of the commonly used libraries used by Data Scientists are:

 1. Matplotlib
 2. Seaborn
 3. TensorFlow.

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
 # This a simple arithmetic expression to multiply then add integers. 
 x=(3*4)+5
 print(x)

17

In [7]:
 # This will convert 200 minutes to hours by diving by 60
 hours = 200 / 60
 print(hours)

3.3333333333333335

##### Objectives:

* Arithmetic expressions using Python
* Data Science tools
* Popular libraries
* Popular languages used in data science

## Authors

Adrian Raghunanan